@using Web.Models.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

@model TorrentViewModel

<link href="~/css/style.css" rel="stylesheet" />
<table class="table">
    <tr>
        <td> ID</td>
        <td>Название</td>
    </tr>
    @foreach (var i in Model.torrents)
    {
        <tr>
            <td><a href="../Content/@i.TorrentId" />@i.TorrentId</td>
            <td><a href="../Content/@i.TorrentId" /> @i.Title</td>

        </tr>
    }
</table>
@if (Model.PageInfo.HasPreviousPage)
{
    <a asp-action="Torrents"
       asp-route-page="@(Model.PageInfo.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageInfo.HasNextPage)
{
    <a asp-action="Torrents"
       asp-route-page="@(Model.PageInfo.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
