/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: rgb(85, 141, 0);
    text-align: center;
}

a:visited {
    color: rgb(85, 141, 0);
    text-align: center;

}

a:active {
    color: greenyellow;
}
p {
    margin-top: 15px;
    margin: auto;
    text-align: center;
}

.btn-primary {
    color: rgba(103, 182, 126, 0.527);
    background-color: #f22613;
    border-color: #1861ac;
    align-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: rgb(7, 255, 81);
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #3d1313;
}


.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(218, 15, 15, 0.84);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.navbar-expand-sm .navbar-nav {
    color: #212529c0
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
 padding: 0;

    background:  #ffffff ;
    padding-block-end: 40px;
}

header {
   
    opacity: 0.6;
    
    background: #fc0; /* Цвет фона */
    padding: 5px;
    box-shadow: 0 0.25rem 0.75rem rgb(158, 32, 32);
    color: #212529
}



footer {
    position:absolute;
    bottom:0;
    width:100%;
    bottom:0;
    line-height: 47px;
    background-color: #fcd566;
    box-shadow: 0 0.25rem 0.75rem rgb(158, 32, 32);
}
/*----------------------------------------------------------eeeeeeeeeee----------------------------------------------------------*/
table {
    width: 100%;
    border-collapse: collapse;
}

tr{
    color:#768d49
}
td, th {
    padding: 3px;
    border: 1px solid rgb(193, 193, 193);
   
}

th {
    background: #f80000;
    color: rgb(8, 230, 64);
  
}

tbody tr:hover {
    background: #e6e21c83;
    color: rgb(0, 0, 0);
   
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: #ffc107ab;
    border: 1px solid #673e3e;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/*----------------------------------------------------------search----------------------------------------------------------*/

.back_button {
    margin: auto;
    padding: 0.3em 7.4em;
    border: 2px solid #f90;
    background-color: #fff;
    display: block;
    height: 50px;
}
.content{
    padding-left: 50px;
    padding-right:50px;
}
.container_body{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
}
.nav_btn{
    text-align: center;
}
.search-box{
    text-align: center;
    margin-left: 110px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
   }
   
   .search-box:hover > .search-btn {
    background: white;
    color: black;
   }
   
   .search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }
   
   .search-btn > i {
    font-size: 30px;
   }
   
   .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }   